{% extends "base.html" %}

{% block content %}
<h1>Категории</h1>
<div class="category-container">
    {% for category in categories %}
    <div class="category-box">
        <h2>{{ category.name }}</h2>
        <ul class="task-list">
            {% for task in category.task_set.all %}
            <li class="task {% if task.completed %}completed{% endif %}">
                <span class="task-title">{{ task.title }}</span>
            </li>
            {% empty %}
            <li>Нет задач</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock %}
