{% extends 'tasks/base.html' %}

{% block title %}Категории{% endblock %}

{% block content %}
    <h1>Категории</h1>
    <div class="categories">
        {% for category in categories %}
            <div class="category">
                <h2>{{ category.name }}</h2>
                <ul>
                    {% for task in category.task_set.all %}
                        <li>{{ task.title }}</li>
                    {% empty %}
                        <p>Нет задач в этой категории</p>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}
