{% extends "base.html" %}

{% block content %}
<h1>Категории</h1>
<div class="categories">
    {% for category in categories %}
    <div class="category-box">
        <h2>{{ category.name }}</h2>
        <ul class="task-list">
            {% for task in category.task_set.all %}
            <li>{{ task.title }}</li>
            {% empty %}
            <li>Нет задач</li>
            {% endfor %}
        </ul>
    </div>
    {% empty %}
    <p>Нет категорий</p>
    {% endfor %}
</div>
{% endblock %}