{% extends 'tasks/base.html' %}

{% block title %}Список задач{% endblock %}

{% block content %}
    <h1>Список задач</h1>
    <ul class="task-list">
        {% for task in tasks %}
            <li class="task-item {% if task.completed %}completed{% endif %}">
                <span class="task-number">{{ forloop.counter }}.</span>
                <span class="task-title">{{ task.title }}</span>

                {% if task.description %}
                    <span class="task-desc">{{ task.description }}</span>
                {% endif %}

                <div class="task-actions">
                    <a href="{% url 'task_update' task.id %}" class="edit-btn">✏️</a>
                    <a href="{% url 'task_delete' task.id %}" class="delete-btn">🗑️</a>
                </div>
            </li>
        {% empty %}
            <p>Нет задач</p>
        {% endfor %}
    </ul>
{% endblock %}
